<div class="col-lg-6">
    <!--Season Selector-->
    <h2>Select teams</h2>
    <div class="table-responsive">
        <div class="season-select">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>Season</th>
                    <th>Teams</th>
                    <th>Matches</th>
                </tr>
                </thead>
                <tbody>
                {{#each season}}
                    <tr class="season-row">
                        <td>{{name}}</td>
                        <td>{{teams}}</td>
                        <td class="{{name}}-matches">{{matches}}</td>
                        <td>
                            <div class="radio">
                                <label>
                                    <input class="liga" type="radio" name="season" onclick="selectSeason()" id="{{name}}" value="{{name}}" checked="">
                                </label>
                            </div>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>

      <div class="row">
        <div class="col-sm-4 team-select">
            HOME
            <select id="home" size="10">
              {{#each teams}}
                  <option selected="selected">{{this}}</option>
              {{/each}}
            </select>
       </div>
        <div class="col-sm-4 team-select">
            AWAY
            <select id="away" size="10">
              {{#each teams}}
                  <option selected="selected">{{this}}</option>
              {{/each}}
            </select>

        </div>
      </div>


    <!--Time Selector-->
  <p>
      <label for="amount">Time/matches range:</label>
      <input type="text" id="amount" readonly="" style="border:0; color:#f6931f; font-weight:bold;">
  </p>
  <div id="slider-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
      <div class="ui-slider-range ui-widget-header ui-corner-all" >
      </div>
  </div>

    <!--Method Selector-->

    <div class="form-group">
        <label>Ranking/Estimate method (not working yet)</label>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="pagerank">Pagerank/distance<br>
            </label>
            <label>
                <input type="checkbox" value="pagerank">Colley/distance<br>
            </label>
            <label>
                <input type="checkbox" value="pagerank">Pagerank/BT<br>
            </label>
            <label>
                <input type="checkbox" value="pagerank">...<br>
            </label>
        </div>
    </div>


    <button type="button" class="btn btn-lg btn-info" onclick="estimate()">Estimate</button>
    <canvas id="estimateChart" width="600" height="400" ></canvas>
    <button type="button" class="btn btn-lg btn-info" onclick="process()">Ranking</button>
    <canvas id="rankingChart" width="600" height="400" ></canvas>
</div>
